.loading {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 50px);
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 1);
  animation: loading 1s ease-in-out 0ms infinite alternate;
}
.loading::before,
.loading::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  animation: loading 1s ease-in-out 0ms infinite alternate;
}
.loading::before {
  left: 100px;
  background: rgba(0, 0, 0, 1);
}
.loading::after {
  background: #007a36;
  right: 100px;
}
@keyframes loading {
  0% {
    transform: scale(0) rotate(0);
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(900deg);
    transform-origin: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: 0.9;
  }
}
